*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #565657;
}
body {
	background-color:#DDDDDD;
}
.loginarea {
	background-color:#FFFFFF;
	padding:20px;
	border-radius:10px;
	width:300px;
	margin:auto;
	margin-top: 90px;
}
input[type=text],
input[type=password] {
	width:100%;
	height:40px;
	font-size: 20px;
}
input[type=submit] {
	background-color:#CCCCCC;
	padding:5px 10px;
	border-radius: 5px;
	font-size:15px;
	font-weight: bold;
	transition-duration: 1s;
}
input[type=submit]:hover {
	box-shadow: 0px 0px 5px #000000;
	background-color:#EEEEEE;
	cursor: pointer;
}

.loginarea a{
	text-decoration: none;
	color: blue;
}
.loginarea a:hover{
	text-decoration: none;
	color: blue;
	text-decoration: underline;
}

h2{
	font-size: 20px;
	text-align: center;
	color: #BD1147;
}