*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	margin:0;
	font-size: 15px;
}
.container {
	max-width:1000px;
	margin:auto;
}
nav ul,
nav ul li {
	margin:0;
	padding:0;
	list-style: none;
}
.header {
	background-color:#DDDDDD;
	margin-bottom:20px;
	height:40px;
}
.header nav {
	max-width:1000px;
	margin:auto;
}
.header li {
	display:inline-block;
	height:40px;
	line-height: 40px;
}
.header li a {
	color:#000;
	text-decoration: none;
	display:block;
	padding-left:10px;
	padding-right:10px;
}
.header li a:hover {
	background-color:#EEE;
}

table th {
	background-color:#DDDDDD;
	padding:5px;
}
table td {
	border:1px solid #DDDDDD;
	padding:5px;
	text-align: center;
}
table tr:hover td {
	background-color:#EEE;
}

table a {
	color:#0000FF;
	text-decoration: none;
	transition: 0.1s all;
}
.monitorar {
	margin-left: 2px;
	color:#CCC;
	text-decoration: none;
	border: 1px solid #CCC;
	padding: 5px;
	border-radius: 3px;
	transition: 1s all;
}
.monitorar:hover {
	color: green;
	border: 1px solid green;
}
table a:hover {
	text-decoration:underline;
	color: red;
	font-size: 13px;
	font-weight: bold;
}

#busca {
	outline:0;
	border:0;
}

.form input[type=text],
.form select,
.form textarea {
	width:100%;
	height:35px;
	font-size:13px;
	padding-left:10px;
	border:2px solid #DDD;
	outline:0;
}
.form input[type=submit],
.btn_relatorio {
	background-color:#CCCCCC;
	padding:5px 10px;
	border-radius:3px;
	font-size:15px;
	font-weight: bold;
	transition: all;
	transition-duration: 1s;
}
.form input[type=submit]:hover{
	box-shadow: 0px 0px 5px #000000;
	background-color:#EEEEEE;
}

.warning {
	border:1px solid #FF0000;
	background-color:#FF5555;
	padding:10px;
	font-size:14px;
	color:#000;
	margin-bottom:10px;
}
.sucess {
	border:1px solid green;
	background-color: green;
	padding:10px;
	font-size:14px;
	color:#000;
	margin-bottom:10px;
}

.flex{
	display: flex;
	justify-content: space-between;
}
.status{
	font-size: 12px;
	color: #03b0be;
}

.formLogin input[type=text],
.formLogin input[type=password]{
	max-width: 700px;
	width:100%;
	height:35px;
	font-size:13px;
	padding-left:10px;
	border:2px solid #DDD;
	outline:0;
}

.formLogin input[type=submit] {
	background-color:#CCCCCC;
	padding:5px 10px;
	border-radius:3px;
	font-size:15px;
	font-weight: bold;
	transition: all;
	transition-duration: 1s;
}
.formLogin input[type=submit]:hover{
	box-shadow: 0px 0px 5px #000000;
	background-color:#EEEEEE;
}

















